torch
torchvision
torchaudio
einops
jupyter
matplotlib
tensorboard
tqdm
argparse
evotorch
git+https://github.com/fra31/auto-attack
tensorflow-cpu
ema_pytorch
accelerate
scipy
scikit-learn
timm
opencv-python
pycocotools
fastcluster
pip install git+https://github.com/RobustBench/robustbench.git
